$color1:#caddea;
$color2:#005c7a;
$color3:#164870;
$color4:#f9b53f;
$white:#ffffff;
$black:#000000;

$bg_color_body_index:#f4f6fa;
$bg_color1:#1b7fd0;
$bg_color2:#075da2;
$bg_color3:#0983e5;
$bg_color4_btn_ordernow:#dd0000;
$bg_color5_forms:#e9f7fe;
$bg_color6_head_foot:#013056;
$bg_color6_head_foot:#013056;
$bg_color7_img:#eff3f5;
$bg_color8_photo_coments:#e1e1e1;
$bg_color9_form:#f9f9fa;
$bg_color10_checkbox:#dfdfdf;
$bg_color11_help_Vip_offer:#fff7bb;
$bg_color12_checkbox_checked:#666666;
$bg_color13_order_details:#fbebcd;
$bg_color14_order_messege:#cccccc;
$bg_color15_table_coll:#e3f3fb;
$bg_color16_table_coll:#f0f8fd;
$bg_color17_table_coll:#f2f2f2;
$bg_color18_table_coll:#eae9e9;
$bg_color19_table_head:#212121;
$bg_color20_table_cell:#e8f4fe;
$bg_color21_table_cell:#f3ffb9;
$bg_color22:#cbddeb;

$br_color1:#e4fafd;
$br_color2_checkbox:#a7a7a7;



$font-color1:#1b7fd0;
$font_color2:#56b1fa;
$font_color3_date:#a6cae3;
$font_color4_coments:#2e3847;
$font_color5_h3:#fdf9f1;
$font_color_delete_order:#f73f3f;

$hover_reply_like:#cca65b;
$hover_help_Vip_offer:#fff7bb;
$hover_add_Vip_offer:#ff9600;
$hover_pay_now:#1d9000;

$clicked_add_Vip_offer:#4fbe5e;


