@import "_mixin";
.bg_font_top
{
    background: $font-color1;

    margin: 0;padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 2px 4px 7px #95aeb6;

}

.head_top{

color: $color1;
font-size: 1rem;
height: 5rem;
background-color: $font-color1 ;

background-image: url('/svg/Svg/Bg_Dark2.svg');
background-repeat: no-repeat;


margin: 0;padding: 0;
 @include  Smaler_then_1200
    {
    height: 3rem;
    background-image: url('/svg/Svg/Bg_Dark2.svg');
    background-repeat: repeat-x;
  background-size: 65%;

   
    
    
    }
}   

.top_head_elements
{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border: 2px solid red;//для розробки
    .phone_title
    {
        color: $color1;
        font-family: $font-thin;
        
    }
    .phone_number
    {
        color: $color1;
        font-family: $font-bold;
       
    }
    .log_chat
    {
        text-transform: uppercase;
        font-family: $font-bold;
        color: white;
        align-self: center;
         
         &:hover
         {
             color: $font-color1;
         }
        
    }
    .icon_l_in
    {
        height: 100%;
        width: 2rem;
        content: url(../svg/Svg/Login.svg);
        align-self: center;
    }
       .icon_chat
    {
        height: 100%;
        width: 2rem;
        content: url(../svg/Svg/Chat.svg);
        align-self: center;
    }
      a:hover
         {
             .log_chat
             {
                 color: $font-color1;
             }
             .icon_l_in
             {
                  content: url(../svg/Svg/Login2.svg);
             }
              .icon_chat
            {
                content: url(../svg/Svg/Chat2.svg);
            }
             
         }
    ul{
        height: 100%;
        text-transform: uppercase;
        font-family: $font-medium;
        align-items: center;
        &::after:last-child
            {
                display: none;
            }
      
        .nav_element{
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 2px solid $color1;
              &:first-child
                {border: none;}
            
            &:hover
            {
                background: $color1;
                color: $font-color1;
               
            }
         }
    }
}

.head_container
{
      flex-wrap: wrap;
@include  Smaler_then_1200{
    flex-wrap: wrap;
    justify-content: left;
    font-weight: 100%}


}

.top_head_element1
{
    @include  Smaler_then_1200{
    flex-grow: 1;
    width: 200px;
    margin-left: 0%;
  }
}
.top_head_element2
{
    @include  Smaler_then_1200{
    flex-grow: 1;
   
  
 }
}
.top_head_element3
{
   
    margin-left: 22%;
    @include  Smaler_then_1200{
        margin-left: 71%;
 
 }
}
.top_head_element4
{
   
}
 .top_head_element5
{
    @include  Smaler_then_1200
    {
    display: none;
    }
}

.burger_menu
{
   
    display: none;
    position: relative;
    cursor: pointer;
    
     @include  Smaler_then_1200
    {
    display: block;
    
    }
    ._nav_burger
    {
        .times   {display: none;}
        .bar   {display: inline;}
    }
    .nav{
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 100;
        display: none;

        .nav_element
        {
            display: block;
            height: 1rem;
            text-transform: uppercase;
            font-family: $font-medium;
            color: white;
            background-color: $color1;
            text-align: center;
            border-bottom: 1px
        }
    }
    ._nav_burger_checkbox
    {
        display: none;
        &:checked
        {
            ~ ._nav_burger
            {
                .times   {display: inline;}
                .bar   {display: none;}
                
            }
            ~.nav{
                display: block;
            }
        }
    }

}

   