.head_top{
margin:0;
padding: 0; 
max-height: 100%;
width:100%;
color: $color1;
background: url('/svg/Svg/Bg_Dark2.svg')no-repeat 0% 0%/100%;
.sales_tol{
    display: inline;
    font-family: $font-thin;
    }
.phone_number
    {
        font-family: $font-black;
        
    }    
}