@import "_mixin";
.bg_img_1
{
 
    // height: 600px;
    margin-top: 7px;
   

   background: url(/svg/Layer_11.png) 72% 8%/auto 100% no-repeat,url(/svg/Layer_12.png) 0 0/auto 94% no-repeat;
    padding-top: 2%;
    @include  Smaler_then_600
        {
           background: url(/svg/Svg/Bg1.svg) 0% 0%/auto 30% no-repeat;
             padding-top:0;
        }
}

.logo
{
    height: 5.125rem;
    background: url(/svg/Logo.svg) 0 0/100% 100% no-repeat;
    @include  Smaler_then_600
        {
        display: none;
        }
    
}
.what_wee_offer
{
    color: $black;
    font-family:'Arial Narrow', Arial, sans-serif;
     color: $black;
     margin-bottom: 3%;
       
    li{
        margin-top: 3%;
        font-size: 1.12rem;
        font-weight: bold;
        margin-left: 5%;
        position: relative;
        &::before
        {

            content:'';
            position: absolute;
            left: -4%;
            top: 20%;
            height: 10px;
            width: 2%;
            border-radius: 50%;
            background: $bg_color1;
        }
    }
}
.btn_header
{
    display: flex;
    margin-bottom: 7%;
    width: 100%;
    height: 35px;
    border: 2px solid $bg_color3;
    color: $bg_color3;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: $font-regular;
   

    @include  Smaler_then_600
        {
        margin-top: 3%;
        margin-left: 10%;
        height: 40px;
        width: 80%;
         text-align: center;
        }
    &:hover
    {
         color: $bg_color6_head_foot;
         border: 2px solid $bg_color6_head_foot;
    }

}



.fifteet_percent
{
    display: none;
     @include  Smaler_then_600
        {
        display: block;
        }
}