/*
* Custom Bootstrap
*/
@import "../../node_modules/bootstrap/dist/css/bootstrap-grid.css";

/*
* Font-awesome
*/
@import "../../node_modules/font-awesome/css/font-awesome.min.css";



@import "_mainelement";
@import "_fonts";
@import "_style";
@import "_media";
@import "_colors";
@import "_header_top";
@import "_mixin";
@import "_footer";
@import "_header_img";
@import "_get_prise_quote_row"

