<div class="container-fluid bg_404">
    <div class="container">
        <div class="row row_404">
            <div class="logo_404"></div>
            <div>
                <span class="grats1">Grats.</span>
                <span class="grats2">You broke it.</span>
            </div>
            <div class="_404_txt">
                404
            </div>
            <div class="d-flex btns_404">
                <a href="/index.html"class="btn_read_more btn_404 ">GO BACK</a>
                <a href="/index.html"class="btn_read_more btn_404">HOMEPAGE</a>
            </div>
            
        </div>
    </div>
</div>