//= get_prise_quote_row_2.html

<div class="container-fluid blog_post_container">
    <div class="container blog_post_white_paper">
        <div class="row  wooman_in_glass">
            <div class="wooman_in_glass_elements wooman_in_glass_element1 ">
                <a class="fb" style="margin-bottom:10%;" href="/404.html">   </a>
                <a class="twiter"  style="margin-bottom:10%;" href="/404.html"> </a>
                <a class="pinterest" style="margin-bottom:10%;"  href="/404.html"></a>
            </div>
            <div class="wooman_in_glass_elements wooman_in_glass_element2 ">
                <div class="wooman_in_glas_img"></div>
            </div>
            <div class="wooman_in_glass_elements wooman_in_glass_element3 ">
                <a href="/404.html"> <div class="sudy_tips_essay_btn">study</div></a>
                <a href="/404.html"> <div class="sudy_tips_essay_btn">Tips</div></a>
                <a href="/404.html"> <div class="sudy_tips_essay_btn">essay</div></a>
            </div>
            <div class="wooman_in_glass_elements wooman_in_glass_element4 ">
                <div class="date">June 21, 2017

                </div>
            </div>
            <div class="wooman_in_glass_elements wooman_in_glass_element5 " >
             <h2>
                A Step-by-Step Guide on How to Win an Essay Contest
             </h2>

            </div>
         

            
        </div>
        <div class="row">
            <h3>Have you ever considered taking part in an essay contest?</h3>
            <h3>Have you ever imagined winning essay contests?</h3>
            <div class="text"> The following writing essay tips will help you to forget about all your fears and worries and actually become a winner
            of an essay contest.</div>
            
            <div class="text_up"> 1. Thoroughly Read the Rules of an Essay Contest</div>
            <div class="text">Make sure that you read the essay contest rules thoroughly so that you don’t overlook any small detail. It is absolutely
            crucial to follow each rule, since you might lose a chance to win the contest regardless of how good your essay is.
            Thus, pay special attention to the contest's theme, word or character count, and any other essay requirements.</div>
            
            <div class="text_up">2. Brainstorm Essay Ideas</div>
            <div class="text">Before writing your essay, it is highly recommended to brainstorm several major ideas that are absolutely different from
            each other, because your first impulse is not usually the best one. It is also advised to make the theme personal so
            that you can write about it from different angles. Remember that the more ideas you have, the better.</div>
            
            <div class="text_up">3. Select the Most Suitable Essay Concept With Regard to the Contest's Theme and Sponsor</div>
            <div class="text">Once you have come up with ideas, pick the one you want to develop. Before making the final decision, think what idea
            might be the most appealing to the essay contest’s sponsor. Most importantly, make sure that your concept perfectly fits
            the sponsor’s company image.</div>
            
            <div class="text_up">4. Start Your Essay with a Good Hook</div>
            <div class="text">The first sentence of any essay is the most important in terms of grabbing attention. Thus, spend enough time to write
            it. This sentence must be powerful, moving, intriguing, or hilarious if you want to hook your reader’s interest. This
            way, you will undoubtedly stick in the memory of judges when it is time to choose the winner.</div>
            
            <div class="text_up">5. Write the First Draft</div>
            <div class="text">Once you have brainstormed and come up with the first sentence, start writing the first draft of your winning essay.
            While writing it,  don’t worry about the mistakes or word count, since you can always make changes. It is essential to
            focus on your ideas and develop them properly. Polishing and correcting your essay will come later.</div>
            
            <div class="text_up">6. Revise Your Essay for Organization and Flow</div>
            <div class="text">When you are have written your first draft, you should look it over in order to ensure that it flows smoothly. Your
            points should be clear and well-made, while your thoughts should flow nicely from one point to another. It is also a
            good idea to read your essay aloud to make sure it sounds good.</div>
        
            <div class="text_up">7. Put Your Essay Aside</div>
            <div class="text"> Once you have polished the first draft of your essay, it is strongly recommended to put it aside for a little while.
            This way, you have enough time to mull over your ideas and, probably, add something. You can also ask someone to check
            your spelling and grammar so that there are no mistakes in your essay.</div>
            <div class="text_up"></div>
            
            <div class="text">Follow these tips one at a time, and then submit your essay to the contest. I keep my fingers crossed for your victory.</div>
        </div>
        <div class="row row_after_whitepaper ">
            
            <div> <i class="fas fa-arrow-left "></i>Curabitur lobortis, nulla nec</div>
            <div style="text-align:right;">Duis ullamcorper eros tellus, in dapibus mi venenatis sit amet<i class="fas fa-arrow-right"></i></div>
          

        </div>
    </div>
    <div class="container">
        <div class="row cat_last_relat_archiv">
            <div class="cat_last_relat_archiv_elements cat_last_relat_archiv_element1">
                <div class="ballon_blue"style="margin-bottom:5%">
                    <h3 style="color:#caddea; margin-left: 3%">CATEGORIES {h3}</h3>
                </div>
                <div class="chevron_text"><i class="fas fa-chevron-right" style="color:#1b7fd0; margin:4% 5%;"></i>Academic</div>
                <div class="chevron_text"><i class="fas fa-chevron-right" style="color:#1b7fd0; margin:4% 5%;"></i>Informative</div>
                <div class="chevron_text"><i class="fas fa-chevron-right" style="color:#1b7fd0; margin:4% 5%;"></i>Literary</div>
                <div class="chevron_text"><i class="fas fa-chevron-right" style="color:#1b7fd0; margin:4% 5%;"></i>Tips for Students</div>
            </div>
            <div class="cat_last_relat_archiv_elements cat_last_relat_archiv_element2">
            <div class="ballon_white">
                <h3>Last posts {h3}</h3>
                <div class="text_cat_last_relat_archiv_element2"><i class="fas fa-circle"style="color:#1b7fd0; margin:4% 5%;"></i> The Biggest and Newest Features Recently Announced by Apple</div>
                <div class="text_cat_last_relat_archiv_element2"><i class="fas fa-circle"style="color:#1b7fd0; margin:4% 5%;"></i>A Step-by-Step Guide on How to Win an Essay Contest</div>
                <div class="text_cat_last_relat_archiv_element2"><i class="fas fa-circle"style="color:#1b7fd0; margin:4% 5%;"></i>Advantages of Reading</div>
                <div class="text_cat_last_relat_archiv_element2"><i class="fas fa-circle"style="color:#1b7fd0; margin:4% 5%;"></i>Everything you Need to Know about Bitcoin: 6 Main Facts</div>

            </div>
            </div>
            <div class="cat_last_relat_archiv_elements cat_last_relat_archiv_element3">
            <div class="ballon_blue d-flex">
                <h3 style="color:#caddea; margin-left: 3%">Related tags</h3>
                <i class="arrows"></i>
            </div>
            </div>
            <div class="cat_last_relat_archiv_elements cat_last_relat_archiv_element4">
            <div class="ballon_blue d-flex">
                <h3 style="color:#caddea; margin-left: 3%">Archive</h3>
                <i class="arrows"></i>
            </div>
            </div>


        </div>
        



    </div>
    <div class="container">
        
        <div class="ballon" style="margin-bottom: 5%;">
            <h2 style="text-align:left; padding-left:5%">COMMENTS</h2>
        </div>
       
        <div class="row">
            <div class="coments coments_level1">
            <div >
                <img class="coments_img">
            </div> 
            <div class="coments_content">
                <div class="author">Michael, Jacksonville, Florida</div>
                <div class="date_"> November 10, 2015 at 7:55 am</div>
                <div class="reply">reply</div>
                <div class="like"><i class="fas fa-heart"></i>5</div>
                <div class="text_content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, leo nec convallis viverra, enim massa tempus
                    arcu, vel viverra elit eros sit amet sem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, leo nec convallis viverra, enim massa tempus
                    arcu, vel viverra elit eros sit amet sem
                </div>
              <a href="#"class="a_show"> continue reading</a>
                

            </div>
            </div>
            <div class="coments coments_level2">
            <div>
                <img class="coments_img">
            </div>
                <div class="coments_content">
                    <div class="author">Michael, Jacksonville, Florida</div>
                    <div class="date_"> November 10, 2015 at 7:55 am</div>
                    <div class="reply">reply</div>
                    <div class="like"><i class="fas fa-heart"></i>5</div>
                    <div class="text_content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, leo nec convallis viverra, enim
                        massa tempus
                        arcu, vel viverra elit eros sit amet sem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                        dapibus, leo nec convallis viverra, enim massa tempus
                        arcu, vel viverra elit eros sit amet sem
                    </div>
                    <a href="#" class="a_show"> continue reading</a>
            
            
                </div>
            </div>
            <div class="coments coments_level1">
                <div>
                    <img class="coments_img">
                </div>
                <div class="coments_content">
                    <div class="author">Michael, Jacksonville, Florida</div>
                    <div class="date_"> November 10, 2015 at 7:55 am</div>
                    <div class="reply">reply</div>
                    <div class="like"><i class="fas fa-heart"></i>5</div>
                    <div class="text_content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, leo nec convallis viverra, enim
                        massa tempus
                        arcu, vel viverra elit eros sit amet sem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                        dapibus, leo nec convallis viverra, enim massa tempus
                        arcu, vel viverra elit eros sit amet sem
                    </div>
                    <a href="#" class="a_show"> continue reading</a>
            
            
                </div>
            </div>
            <div class="coments coments_level2">
                <div>
                    <img class="coments_img">
                </div>
                <div class="coments_content">
                    <div class="author">Michael, Jacksonville, Florida</div>
                    <div class="date_"> November 10, 2015 at 7:55 am</div>
                    <div class="reply">reply</div>
                    <div class="like"><i class="fas fa-heart"></i>5</div>
                    <div class="text_content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, leo nec convallis viverra, enim
                        massa tempus
                        arcu, vel viverra elit eros sit amet sem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                        dapibus, leo nec convallis viverra, enim massa tempus
                        arcu, vel viverra elit eros sit amet sem
                    </div>
                    <a href="#" class="a_show"> continue reading</a>
            
            
                </div>
            </div>
            <div class="coments coments_level1">
                <div>
                    <img class="coments_img">
                </div>
                <div class="coments_content">
                    <div class="author">Michael, Jacksonville, Florida</div>
                    <div class="date_"> November 10, 2015 at 7:55 am</div>
                    <div class="reply">reply</div>
                    <div class="like"><i class="fas fa-heart"></i>5</div>
                    <div class="text_content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, leo nec convallis viverra, enim
                        massa tempus
                        arcu, vel viverra elit eros sit amet sem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                        dapibus, leo nec convallis viverra, enim massa tempus
                        arcu, vel viverra elit eros sit amet sem
                    </div>
                    <a href="#" class="a_show"> continue reading</a>
            
            
                </div>
            </div>
            <div class="coments coments_level2">
                <div>
                    <img class="coments_img">
                </div>
                <div class="coments_content">
                    <div class="author">Michael, Jacksonville, Florida</div>
                    <div class="date_"> November 10, 2015 at 7:55 am</div>
                    <div class="reply">reply</div>
                    <div class="like"><i class="fas fa-heart"></i>5</div>
                    <div class="text_content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, leo nec convallis viverra, enim
                        massa tempus
                        arcu, vel viverra elit eros sit amet sem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                        dapibus, leo nec convallis viverra, enim massa tempus
                        arcu, vel viverra elit eros sit amet sem
                    </div>
                    <a href="#" class="a_show"> continue reading</a>
            
            
                </div>
            </div>
            


        </div>

    </div>
    <div class="container form_conteiner">

        <form action="" class="coment_form">
            <div class="form_title"><h3 style=" color:white">Leave a comments </h3></div>
            <input  type="text" placeholder="Name" class="coment_form_inputs coment_form_input1">
            <input type="text" placeholder="Email" class="coment_form_inputs coment_form_input1">
            <input type="text" placeholder="Subject" class="coment_form_inputs coment_form_input2">
            <input type="text" placeholder="comment"class="coment_form_inputs coment_form_input3">
            <div class="btn_read_more coment_form_input4">SUBMIT</div>
        </form>
    </div>



    
</div>
