<div class="container-fluid payments">
    <div class="container">
        <div class="row d-flex">

            <div class="_payment_systems">
                <div class="_payment_system _psvisa"></div>
                <div class="_payment_system _psmaster"></div>
                <div class="_payment_system _psamexpress"></div>
                <div class="_payment_system _psdiscover"></div>
                <div class="_payment_system _psjcb"></div>
                <div class="_payment_system _psdclub"></div>
                <div class="_payment_system _psddebt"></div>
            </div>
            <div class="social_icons">
                <a href="#"class="social_icon fb"> </a>
                <a href="#" class="social_icon twiter"> </a>
                <a href="#" class="social_icon pinterest"> </a>
            </div>



        </div>
        
    </div>
</div>
<div class="container-fluid site_map">
    <div class="container">
        <div class="row">
            <div class="col-2 ">
                <div><a href="#" class="site_map_a">Site map</a></div>
                <div><a href="#" class="site_map_a">Free essays</a></div>
                <div><a href="#" class="site_map_a">Custom Research Papers</a></div>
                <div><a href="#" class="site_map_a">Custom Term Paper</a></div>
                <div><a href="#" class="site_map_a">Writing Service</a></div>
                <div><a href="#" class="site_map_a">Custom Writing</a></div>
                <div><a href="#" class="site_map_a">Custom Writing Services</a></div>
                <div><a href="#" class="site_map_a">Custom Written Essay</a></div>
                <div><a href="#" class="site_map_a">Do My Essay</a></div>
            </div>
            <div class="col-2">
                <div><a href="#" class="site_map_a">Do My Paper</a></div>
                <div><a href="#" class="site_map_a">Editing Service</a></div>
                <div><a href="#" class="site_map_a">Essay Buy</a></div>
                <div><a href="#" class="site_map_a">Essay Editing</a></div>
                <div><a href="#" class="site_map_a">Essay Help</a></div>
                <div><a href="#" class="site_map_a">Essay Online</a></div>
                <div><a href="#" class="site_map_a">Essay Order</a></div>
                <div><a href="#" class="site_map_a">Essay Paper</a></div>
                <div><a href="#" class="site_map_a">Essay Papers to Buy</a></div>
            </div>
            <div class="col-2">
                <div><a href="#" class="site_map_a">Essay Service</a></div>
                <div><a href="#" class="site_map_a">Essay Writer</a></div>
                <div><a href="#" class="site_map_a">Essay Writing</a></div>
                <div><a href="#" class="site_map_a">Essay Writing Service</a></div>
                <div><a href="#" class="site_map_a">Essay Writing Services</a></div>
                <div><a href="#" class="site_map_a">Essay Writing Online</a></div>
                <div><a href="#" class="site_map_a">Essays Buy</a></div>
                <div><a href="#" class="site_map_a">Essays for Sale</a></div>
                <div><a href="#" class="site_map_a">Essays Order</a></div>                  
            </div>
            <div class="col-2">
                <div><a href="#" class="site_map_a">Essays to Buy</a></div>
                <div><a href="#" class="site_map_a">Essays Written</a></div>
                <div><a href="#" class="site_map_a">Formatting Service</a></div>
                <div><a href="#" class="site_map_a">Freelance Essay Writing</a></div>
                <div><a href="#" class="site_map_a">Grant Writing</a></div>
                <div><a href="#" class="site_map_a">How to Buy an Essay</a></div>
                <div><a href="#" class="site_map_a">Non - Plagiarized Essay</a></div>
                <div><a href="#" class="site_map_a">Online Essay</a></div>
                <div><a href="#" class="site_map_a">Online Research Paper</a></div>
            </div>
            <div class="col-2">
                <div><a href="#" class="site_map_a">Online Term Paper</a></div>
                <div><a href="#" class="site_map_a">Online Writing</a></div>
                <div><a href="#" class="site_map_a">Order an Essay</a></div>
                <div><a href="#" class="site_map_a">Order Custom Essay</a></div>
                <div><a href="#" class="site_map_a">Order Custom Paper</a></div>
                <div><a href="#" class="site_map_a">Order Essay</a></div>
                <div><a href="#" class="site_map_a">Order Essays</a></div>
                <div><a href="#" class="site_map_a">Original Essay</a></div>
                <div><a href="#" class="site_map_a">Paper Service</a></div>
                
            </div>
            <div class="col-2">
                <div><a href="#" class="site_map_a">Paper Writer</a></div>
                <div><a href="#" class="site_map_a">Paper Writing</a></div>
                <div><a href="#" class="site_map_a">Paper Writing Service</a></div>
                <div><a href="#" class="site_map_a">Personal Narrative Essay</a></div>
                <div><a href="#" class="site_map_a">Academic Essays Writers</a></div>
                <div><a href="#" class="site_map_a">Buy Cheap Essay</a></div>
                <div><a href="#" class="site_map_a">Buy Custom</a></div>
                <div><a href="#" class="site_map_a">Paper Buy Custom</a></div>
                <div><a href="#" class="site_map_a">Buy Research Paper</a></div>
            
            
            </div>
            <div class=" col-12 line_plus">
            </div>
            <div class=" col-12 nav_footer ">
                <ul>
                   
                   <li><a href="#">Business</a></li>
                    <li><a href="#">conomics</a></li>
                    <li><a href="#">Informative</a></li>
                    <li><a href="#">Literature</a></li>
                    <li><a href="#">Management</a></li>
                    <li><a href="#">Political</a></li>
                    <li><a href="#">Psychology</a></li>
                    <li><a href="#">Research</a></li>
                    <li><a href="#">Review</a></li>
                    <li><a href="#">Technology</a></li>
                </ul>
             </div>
            
            
            
            <div class="col-12 footer_mobile_">
               <div class="footer_mobile_big"> <a href="#" >Sample Essays</a></div>
                <div class="footer_mobile_big"> <a href="#">Articles</a></div>
                <div class="footer_mobile_sm d-flex"> 
                    <a href="#">Terms and Conditions |</a>
                    <a href="#"> Privacy Policy</a>
                </div>
               
            </div>


        </div>
        
    </div>

    
</div>