<div class="container-fluid payments">
    <div class="container">
        <div class="row d-flex">

            <div class="_payment_systems">
                <div class="_payment_system _psvisa"></div>
                <div class="_payment_system _psmaster"></div>
                <div class="_payment_system _psamexpress"></div>
                <div class="_payment_system _psdiscover"></div>
                <div class="_payment_system _psjcb"></div>
                <div class="_payment_system _psdclub"></div>
                <div class="_payment_system _psddebt"></div>
            </div>
            <div class="social_icons">
                <a href="#"class="social_icon fb"> </a>
                <a href="#" class="social_icon twiter"> </a>
                <a href="#" class="social_icon pinterest"> </a>
            </div>



        </div>
        
    </div>
</div>