<div class="container-fluid get_prise">
    <div class="container">
        <div class="row">
            <div class="spare">
                <div class="ballon d-flex" style="align-items: center;justify-content: space-between; padding: 0; " >
                    <h2 style="margin-left:15px">Get a price quote</h2>
                    <div class="fifteet_percent_off"style="margin-right:15px" >
                                <span class="_percent1">15</span>
                                <span class="_percent2">%</span>
                                <span class="_percent3">off</span>
                                <span class="_percent4">YOUR FIRST ORDER</span>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <form action="#">

            </form>
        </div>
    </div>

</div>