<div class="container-fluid get_prise_1">
    <div class="container">
        <div class="row">
           
                <div class="ess_and_Reserch">
                    <div class=" ess_and_Reserch_col">
                        <div class="btn_header_2"><a href="/404.html">Essays & Research Papers</a></div>
                        <div class="btn_header_2"><a href="/404.html">Resumes & CVs</a></div>
                    </div>
                    <div class="ess_and_Reserch_col">
                        <div class="btn_header_2"><a href="/404.html" >Dissertations & Thesess</a>
                        </div>
                        <div class="btn_header_2"><a href="/404.html" >Editing & Proofreading</a>
                        </div>
                
                    </div>
                
                    <div class="ess_and_Reserch_col_order">
                        <a href="/order.html" class="ballon_btn_red">
                            <span class="total_praise">ORDER NOW</span>
                        </a>

                    </div>
                </div>
            

           
        </div>

    </div>
</div>