<div class="container-fluid get_prise">
    <div class="container">
        <div class="row">
            <div class="ballon ballon_get_p" >
                        <h2 class="h2_arrow">Get a price quote</h2>
                        <div class="fifteet_percent_off  fifteet_percent_off_dsp1 "style="margin-right:15px;" >
                                <span class="_percent1 _arrow">15</span>
                                <span class="_percent2">%</span>
                                <span class="_percent3">off</span>
                                <span class="_percent4">YOUR FIRST ORDER</span>
                        </div>
            </div>
        </div>
        <div class="row">
            <form action="" class="form_get_prise">
                <div class="form_elements form_element1">
                    <label for="">TITLE OF YOUR PAPER</label>
                    <select name="" id="">
                        <option value="">Lorem </option>
                        <option value="">ipsum </option>
                        <option value="">dolor </option>
                        <option value="">sit </option>
                        <option value="">amet</option>
                    </select>
                </div>
                <div class="form_elements form_element2">
                    <label for="">ACADEMIC LEVEL</label>
                    <select name="" id="">
                        <option value="">Lorem </option>
                        <option value="">ipsum </option>
                        <option value="">dolor </option>
                        <option value="">sit </option>
                        <option value="">amet</option>
                    </select>
                </div>
                <div class="form_elements form_element3">
                    <label for="">SPACING</label>
                    <select name="" id="">
                        <option value="">Lorem </option>
                        <option value="">ipsum </option>
                        <option value="">dolor </option>
                        <option value="">sit </option>
                        <option value="">amet</option>
                    </select>
                </div>
                <div class="form_elements form_element4">
                    <label for="">urgensy</label>
                    <select name="" id="">
                        <option value="">Lorem </option>
                        <option value="">ipsum </option>
                        <option value="">dolor </option>
                        <option value="">sit </option>
                        <option value="">amet</option>
                    </select>
                </div>
                <div class="form_elements form_element5">
                    <span class="total_praise">Total price</span>
                    <span class="_praise">16.99</span>
                    <span class="total_praise">USD</span>
                </div>
                <div class="form_elements form_element6">
                    <a href="#" class="ballon_btn_red">
                    <span class="total_praise">ORDER NOW</span> 
                    </a>
                    
                </div>
                

            </form>
        </div>
       
    </div>
</div>