<meta charset="UTF-8"> <!-- Мета тег указывающий кодировку страницы -->
<!-- Полезные мета-теги или радость сеошника -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"><!-- Запрещаем менять размер на моб устройствах -->
<meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- Заставляем ie работать в высоком режиме -->
<meta name="description" content="">
<!--Мета тег для поискового робота (описание сайта при выводе результатов поиска в браузере ~ 50 - 300 символов) -->
<meta name="keywords" content="">
<!--Мета тег для поискового робота (ключевые слова. обязательно разные) -->
<meta name="robots" content="index, follow, noodp"><!-- Мета тег для поискового робота (индексировать страницу и ссылки, не использовать описание из каталога DMOZ в результатах поиска.) -->
<meta name="googlebot" content="index, follow"><!-- Мета тег для поискового гугл-робота (индексировать страницу и ссылки)-->
<meta name="google" content="notranslate"><!-- Мета тег для поискового гугл-робота (не переводить)-->
<meta name="format-detection" content="telephone=no"><!-- Мета тег, запрещающий выделять телефонные номера -->
<!-- Шаблон Open Graph меток -->
<meta property="og:locale" content="ru_RU"> <!-- Локализация сайта -->
<meta property="og:type" content="article"><!-- Указываем тип страницы (article - статья) -->
<meta property="og:title" content=""><!-- Заголовок статьи -->
<meta property="og:description" content=""><!-- Описание, которое выводится в превью-ссылке -->
<meta property="og:url" content=""><!-- Ссылка на страницу сайта -->
<meta property="og:image" content=""><!-- Ссылка на картинку, которая будет в посте -->
<meta property="og:site_name" content=""> <!-- Название сайта -->
<!-- Шаблон базовых изображений -->
<link rel="apple-touch-icon" sizes="180x180" href=""><!-- Иконка для ретина дисплеев  -->
<link rel="icon" type="image/png" sizes="32x32" href=""><!-- Иконка сайта в вкладке 32х32 -->
<link rel="icon" type="image/png" sizes="16x16" href=""><!-- Иконка сайта в вкладке 16х16 -->
<meta name="theme-color" content="#ffffff"><!-- Цвет вкладки в мобильном хроме -->
<!-- Подключаемые стили -->
<link rel="stylesheet" href="/css/main.css">
<div class="container-fluid bg_font_top">
    <div class="container-fluid head_top d-flex">
        <div class="container d-flex">
            <div class="row d-flex head_container">
                <a href="#" class="white_logo_header_mobile"></a>
               
                <div class=" top_head_elements  top_head_element1">
                    <div class="phone_title">Sales toll free:</div>
                    <div class="phone_number"> 1 (877) 894-0925</div>
                </div>
                <div class=" top_head_elements  top_head_element2">
                    <div class="phone_title">Support toll free: </div>
                    <div class="phone_number">1 (888) 901-8317</div>
                </div>
                <div class=" top_head_elements top_head_element6">
                    <input type="checkbox" class="_nav_burger_checkbox" id="burger">
                    <label for="burger" class="_nav_burger">
                    <div class="burger-line first"></div>
                    <div class="burger-line second"></div>
                    <div class="burger-line third"></div>
                    <div class="burger-line fourth"></div>
                    </label>
                    <ul class="nav">
                        
                        
                        <li class="nav_element"><a href="#">Home </a></li>
                        <li class="nav_element"><a href="#">About us </a></li>
                        <li class="nav_element"><a href="#">Services </a></li>
                        <li class="nav_element"><a href="#">Guarantees </a></li>
                        <li class="nav_element"><a href="#">Process </a></li>
                        <li class="nav_element"><a href="#">Prices </a></li>
                        <li class="nav_element"><a href="#">Beware </a></li>
                        <li class="nav_element"><a href="#">Discounts </a></li>
                        <li class="nav_element"><a href="#">FAQ </a></li>
                        <li class="nav_element"><a href="#">Blog </a></li>
                        <li class="nav_element"><a href="#">Contact us </a></li>
                        <li class="nav_element"><a href="#">Log in </a></li>



                    </ul>
                
                
                </div>
                <div class=" top_head_elements top_head_element3">
                    <a href="#" class="d-flex">
                    <div class="log_chat">LOGIN</div>   
                    <i class="icon_l_in"></i>
                    </a>
                </div>
                <div class=" top_head_elements  top_head_element4">
                    <a href="#" class="d-flex">
                    <div class="log_chat">live chat</div>
                    <i class="icon_chat"></i>
                    </a>
                </div>
                <div class=" top_head_elements  top_head_element5">
                    <ul class="d-flex">
                        <li class="nav_element"><a href="#">About us</a></li>
                        <li class="nav_element"><a href="#">Prices </a></li>
                        <li class="nav_element"><a href="#">Discounts </a></li>
                        <li class="nav_element"><a href="#">guarantees</a></li>
                        <li class="nav_element"><a href="#">faq </a></li>
                        <li class="nav_element"><a href="#">beware </a></li>
                        <li class="nav_element"><a href="#">Contact us </a></li>
                        <li class="nav_element"><a href="#"> blog </a></li>
                    </ul>
                </div>
                
                
            </div>
                
        </div>
    </div>
    
</div>
<div class="_mobile_header_elements">

    <a href="#" class="_mobile_header_element "><div class="_mobile_header_elements_chat"></div> </a>
    <a href="#" class="_mobile_header_element "><div class="_mobile_header_elements_login"></div> </a>
    <a href="#" class="_mobile_header_element "><div class="_mobile_header_elements_move_to_head"></div> </a>
</div>

</div>
</div>

</div>