<div class="container-fluid bg_img_1">
    <div class="container ">
        <div class="row">
            <div class="col-xl-6 col-lg-8 col-md-8 col-sm-12 col-12">
                
                <div class="logo"></div>
                <br>
                <div class="ballon">
                    <h1>Things go Better with Us!</h1>
                </div>
                <br>
                <br>
                <h3><div class="h3_black">What we offer you: {h3}</div> </h3>
                <ul class="what_wee_offer">
                                    
                    <li> A dedicated writer who is qualified in your field</li>
                    <li> Your subject matter analyzed, researched, referenced and written as you instruct</li>
                    <li> Papers tested for plagiarism using systems such as Copyscape plus a validation report</li>
                    <li> A flawless end product in terms of style and grammar</li>
                </ul>
                <div class="fifteet_percent col-12">                    <div class="fifteet_percent_off">
                        <div class="ballon">
                            <span class="_percent1">15</span>
                            <span class="_percent2">%</span>
                            <span class="_percent3">off</span>
                            <span class="_percent4">YOUR FIRST ORDER</span>
                        </div>

                    </div>
                </div>
                <div class="row ">
                    <div class=" col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="btn_header"><a href="/404.html" >Essays & Research Papers</a></div>
                        <div class="btn_header"><a href="/404.html" class=".btn_header">Resumes & CVs</a></div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="btn_header"><a href="/404.html" class=".btn_header">Dissertations & Thesess</a></div>
                        <div class="btn_header"><a href="/404.html" class=".btn_header">Editing & Proofreading</a> </div>
                    
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>