<div class="container-fluid how_it_works_fluid">
    <div class="container">
        <div class="row">
             <div class="ballon ballon_how_it_works">
                 <h2>How it works</h2>
             </div>    
        </div>
        <br>
        <div class="row hiw_row">
            <div class="titles_hiw title_hiw1 ">
                <div class="titles_hiw_number">1</div>
                <div class="titles_hiw_text">
                    <h3>Make your way to the order page and complete {h4}</h3>
                    <h4>Make your way to the order page and complete {h4}</h4>
                </div> 
                <div class="titles_hiw_hower_rectangle"></div>
            </div>
            <div class="contents_him content_him1">
                <div class="contents_him_icon content_him_icon1"></div>
                <div class="contents_him_text">Take care to provide all your contact information correctly e.g. your telephone number and email address. We remain in
                constant contact with customers for the duration of their project.
                We will use your telephone number and email as our main means of contacting you. Be careful to provide accurate
                information and describe your requirements in full. Our writer will precisely adhere to the instructions on the form.
                </div>
            </div>

            <div class="titles_hiw title_hiw2 ">
                <div class="titles_hiw_number">2</div>
                <div class="titles_hiw_text">
                    <h3>Continue to the payment page {h3}</h3>
                    <h4>Continue to the payment page {h3}</h4>
                </div>
                <div class="titles_hiw_hower_rectangle"></div>
            </div>  
            <div class="contents_him content_him2">
                <div class="contents_him_icon content_him_icon2"></div>
                <div class="contents_him_text">We calculate the deadline from the minute we receive your payment. The writer we allocate will only begin conducting
                research after your payment has been received. We guarantee a full refund, which means we will give you your money back
                if you are in any way dissatisfied with the service you receive. We may ask you for identification verification. This is
                our method of ensuring you are actually the person who ordered the paper.
                </div>
            </div>

            <div class="titles_hiw title_hiw3 ">
                <div class="titles_hiw_number">3</div>
                <div class="titles_hiw_text">
                    <h3>Monitor your email for confirmation of your
                    order and save {h4}</h3>
                    <h4>Monitor your email for confirmation of your
                    order and save {h4}</h4>
                </div>
                <div class="titles_hiw_hower_rectangle"></div>
            </div>
            <div class="contents_him content_him3">
                <div class="contents_him_icon content_him_icon3"></div>
                <div class="contents_him_text">Take care to provide all your contact information correctly e.g. your telephone
                    number and email address. We remain in
                    constant contact with customers for the duration of their project.
                    We will use your telephone number and email as our main means of contacting you. Be careful to provide accurate
                    information and describe your requirements in full. Our writer will precisely adhere to the instructions on the
                    form.
                </div>
            </div>

            <div class="titles_hiw title_hiw4 ">
                <div class="titles_hiw_number">4</div>
                <div class="titles_hiw_text">
                    <h3>Use your personal account area to contact
                    your writer and our support personnel {h4}</h3>
                    <h4>Use your personal account area to contact
                    your writer and our support personnel {h4}</h4>
                </div>
                <div class="titles_hiw_hower_rectangle"></div>
            </div>
            <div class="contents_him content_him4">
                <div class="contents_him_icon content_him_icon4"></div>
                <div class="contents_him_text">Take care to provide all your contact information correctly e.g. your telephone
                    number and email address. We remain in
                    constant contact with customers for the duration of their project.
                    We will use your telephone number and email as our main means of contacting you. Be careful to provide accurate
                    information and describe your requirements in full. Our writer will precisely adhere to the instructions on the
                    form.
                </div>
            </div>
            
            <div class="titles_hiw title_hiw5 ">
                <div class="titles_hiw_number">5</div>
                <div class="titles_hiw_text">
                    <h3>Use the link from our email to download
                    your paper {h4}</h3>
                    <h4>Use the link from our email to download
                    your paper {h4}</h4>
                </div>
                <div class="titles_hiw_hower_rectangle"></div>
            </div>
            <div class="contents_him content_him5">
                <div class="contents_him_icon content_him_icon5"></div>
                <div class="contents_him_text">Take care to provide all your contact information correctly e.g. your telephone
                    number and email address. We remain in
                    constant contact with customers for the duration of their project.
                    We will use your telephone number and email as our main means of contacting you. Be careful to provide accurate
                    information and describe your requirements in full. Our writer will precisely adhere to the instructions on the
                    form.
                </div>
            </div>

            <div class="titles_hiw title_hiw6 ">
                <div class="titles_hiw_number">6</div>
                <div class="titles_hiw_text">
                    <h3>Give us feedback! {h4}</h3>
                    <h4>Give us feedback! {h4}</h4>
                </div>
                <div class="titles_hiw_hower_rectangle"></div>
            </div>
            <div class="contents_him content_him6">
                <div class="contents_him_icon content_him_icon6"></div>
                <div class="contents_him_text">We calculate the deadline from the minute we receive your payment. The writer we allocate will only begin conducting
                research after your payment has been received. We guarantee a full refund, which means we will give you your money back
                if you are in any way dissatisfied with the service you receive. We may ask you for identification verification. This is
                our method of ensuring you are actually the person who ordered the paper.
                </div>
            </div>

            
        </div>
    </div>
</div>