//= get_prise_quote_row_2.html

<div class="container-fluid blog_post_container">
    <div class="container ">
        <div class="row Welcome_User_Test_row">
            
        
            <div class="Welcome_User_Test">Welcome, User Test</div>
            <div class="Welcome_User_Test_naw">
                <a href="/404.html" class="Welcome_User_Test_naw_elements">My Orders</a>
                <a href="/404.html" class="Welcome_User_Test_naw_elements">my account</a>
                <a href="/404.html" class="Welcome_User_Test_naw_elements">referral program</a>
                <a href="/404.html" class="Welcome_User_Test_naw_elements">LogOut</a>
        
            </div>
        </div>
        
    </div>
    <div class="container client_info">
        <div class="client_info_elements">
            <div class="client_info_title">Account type</div>
            <div class="client_info_txt">: standard</div>
        </div>
        <div class="client_info_elements">
            <div class="client_info_title">New message</div>
            <div class="client_info_txt">: 1</div>
            <div class="client_info_mail"></div>
        </div>
        <div class="client_info_elements">
            <div class="client_info_title">Bonus points</div>
            <div class="client_info_txt" style="color:#1b7fd0">: 0 $</div>
        </div>
        <div class="client_info_elements">
            <div class="client_info_title">Discount</div>
            <div class="client_info_txt">: useruser@gmail.com</div>
        </div>
        <div class="client_info_elements">
            <div class="client_info_title">Discount</div>
            <div class="client_info_txt">: 0 $</div>
            <a href="/404.html" class="client_info_title"style="color:#1b7fd0">[Up to 15%]</a>
        </div>

    </div>
    <div class="container">
        <a href="/order.html" class="back">BACK</a>
    </div>

    <div class="container ">
        <div class="title_form"><h3 style="color:white; text-align: left;margin-left: 1%">Order details {h3}</h3></div>
    </div>

    <div class="container order_info">
        <div class="order_info_title_container">
            <div class="order_info_title">Order ID</div>
            <div class="order_info_title">Subject</div>
            <div class="order_info_title">Topic</div>
            <div class="order_info_title">Type of assignment</div>
            <div class="order_info_title">Urgency</div>
            <div class="order_info_title">Writer level</div>
            <div class="order_info_title">Style</div>
            <div class="order_info_title">Sources</div>
            <div class="order_info_title">Language</div>
            <div class="order_info_title">Description</div>
            <div class="order_info_title">Added</div>
            <div class="order_info_title">Delivery</div>
            <div class="order_info_title">Free revisions till</div>
            <div class="order_info_title">Spacing</div>
            <div class="order_info_title">Page price</div>
            <div class="order_info_title">Pages</div>
            <div class="order_info_title">Additional services</div>
            <div class="order_info_title">Discount</div>
            <div class="order_info_title">Price</div>
            <div class="order_info_title">Payment details</div>
            <div class="order_info_title">Writer ID</div>
            <div class="order_info_title">Order status</div>
        </div>
        <div class="order_info_txt_container">
            
            <div class="order_info_txt">1133087166 <a href="/order_list.html" class="list_icon">Place an additional order</a></div>
            <div class="order_info_txt"></div>
            <div class="order_info_txt">test</div>
            <div class="order_info_txt">Essay</div>
            <div class="order_info_txt">11 days</div>
            <div class="order_info_txt">High School</div>
            <div class="order_info_txt">APA</div>
            <div class="order_info_txt">12</div>
            <div class="order_info_txt">English(U.S.)</div>
            <div class="order_info_txt">test</div>
            <div class="order_info_txt">2017.04.27 11:52</div>
            <div class="order_info_txt" style="color:#1b7fd0">2017.05.08 11:52 <a href="/404.utml" class="list_icon2">Extend</a></div>
            <div class="order_info_txt">2017.05.10 08:52</div>
            <div class="order_info_txt">Double spaced</div>
            <div class="order_info_title" style="color:#1b7fd0">12.99 $</div>
            <div class="order_info_txt">1</div>
            <div class="order_info_txt"></div>
            <div class="order_info_txt">0%</div>
            <div class="order_info_txt">12.99 $</div>
            <div class="order_info_txt"></div>
            <div class="order_info_txt"></div>
            <div class="order_info_txt">Payment verification <a href="/order_details_compleat.html" class="order_info_title" style="color:#1b7fd0;display: inline;">$ Pay now</a></div>
            
            

        </div>

    </div>
    <div class="container ">
        <div class="title_form">
            <h3 style="color:white; text-align: left;margin-left: 1%;margin-top:4%; ">FILES {h3}</h3>
        </div>
    </div>
    <div class="container files_messenges_container">

        <div class="upload_send_info_txt">No files found</div>
        <a href="/404.html" class="btn_upload_send">UPLOAD FILE</a>
  </div>

    <div class="container ">
        <div class="title_form">
            <h3 style="color:white; text-align: left;margin-left: 1%;margin-top:4%;">MESSAGES {h3}</h3>
        </div>
    </div>
    <div class="container files_messenges_container"style="margin-bottom:4%;">
    
        <div class="upload_send_info_txt">No messages found</div>
        <a href="/404.html" class="btn_upload_send">SEND MESSAGE</a>
    </div>
    
   
</div>