//= get_prise_quote_row_2.html

<div class="container-fluid blog_post_container">
    <div class="container ">
        <div class="row Welcome_User_Test_row">
           <div class="Welcome_User_Test">Welcome, User Test</div>
            <div class="Welcome_User_Test_naw">
                <a href="/404.html" class="Welcome_User_Test_naw_elements">My Orders</a>
                <a href="/404.html" class="Welcome_User_Test_naw_elements">my account</a>
                <a href="/404.html" class="Welcome_User_Test_naw_elements">referral program</a>
                <a href="/404.html" class="Welcome_User_Test_naw_elements">LogOut</a>

            </div>
        </div>

    </div>
    <div class="container client_info">
        <div class="client_info_elements">
            <div class="client_info_title">Account type</div>
            <div class="client_info_txt">: standard</div>
        </div>
        <div class="client_info_elements">
            <div class="client_info_title">New message</div>
            <div class="client_info_txt">: 1</div>
            <div class="client_info_mail"></div>
        </div>
        <div class="client_info_elements">
            <div class="client_info_title">Bonus points</div>
            <div class="client_info_txt" style="color:#1b7fd0">: 0 $</div>
        </div>
        <div class="client_info_elements">
            <div class="client_info_title">Discount</div>
            <div class="client_info_txt">: useruser@gmail.com</div>
        </div>
        <div class="client_info_elements">
            <div class="client_info_title">Discount</div>
            <div class="client_info_txt">: 0 $</div>
            <a href="/404.html" class="client_info_title" style="color:#1b7fd0">[Up to 15%]</a>
        </div>

    </div>
    <div class="container">
        <div class="row mpocp">
            <div class="title_order_list_table">
                <h3 style="color:white">New messages {h3}</h3>
            </div>  
            <div class="mpocp_cell"><div class="mpocp_head">Order ID</div></div>
            <div class="mpocp_cell"><div class="mpocp_head">Title / topic</div></div>
            <div class="mpocp_cell"><div class="mpocp_head">Messages / new messages</div></div>

            <div class="mpocp_cell"><div class="mpocp_txt">6176835139</div></div>
            <div class="mpocp_cell"><div class="mpocp_txt">test</div></div>
            <div class="mpocp_cell">
               <a href="/404.html" class="mpocp_icon_a"> <i class="fas fa-envelope "></i></a>
               <span class="mpocp_txt">2/</span>
                <a href="/404.html" class="mpocp_icon_a"> 2</a>
            </div>

        </div>

        <div class="row mpocp">
            <div class="title_order_list_table">
                <h3 style="color:white">New messages {h3}</h3>
            </div>  
            <div class="mpocp_cell"style="width: 24.5%"style="width: 24.5%"><div class="mpocp_head" >Date</div></div>
            <div class="mpocp_cell"style="width: 24.5%"style="width: 24.5%"><div class="mpocp_head" >Order ID</div></div>
            <div class="mpocp_cell"style="width: 24.5%"style="width: 24.5%"><div class="mpocp_head" >Title / topic</div></div>
             <div class="mpocp_cell"style="width: 24.5%"style="width: 24.5%"><div class="mpocp_head">Status</div></div>

            <div class="mpocp_cell"style="width: 24.5%"><div class="mpocp_txt">2017.04.27</div></div>
            <div class="mpocp_cell"style="width: 24.5%"><div class="mpocp_txt"><a href="" class="mpocp_icon_a">1133087166</a></div></div>
             <div class="mpocp_cell"style="width: 24.5%"><div class="mpocp_txt">test</div></div>
              <div class="mpocp_cell"style="width: 24.5%"><div class="mpocp_txt">Payment verification</div></div>

        </div>

        <div class="row d-flex" style="border-bottom: 2px solid  #1b7fd0;flex-wrap: wrap;">
            <div class="mpocp_txt" style="flex-grow:1"><a href="" class="mpocp_icon_a"><i class="fas fa-info-circle"></i></a> Order Details</div>
            <div class="mpocp_txt" style="flex-grow:1"><a href="" class="mpocp_icon_a"><i class="far fa-file-alt"></i></a> Files (0)</div>
            <div class="mpocp_txt" style="flex-grow:1"><a href="/404.html" class="mpocp_icon_a"> <i class="fas fa-envelope "></i></a> Messages (0/0)</div>
            <div class="mpocp_txt" style="flex-grow:1"><a href="" class="mpocp_icon_a"><i class="fab fa-telegram-plane"></i></a> Contact us</div>
            <div class="mpocp_txt" style="flex-grow:1"><a href="" class="mpocp_icon_a">$ Pay now</a></div>
            <div class="mpocp_txt" style="flex-grow:1"><a href="" class="mpocp_icon_a_delete"><i class="fas fa-times"></i>Delete order</a> </div>
            <div class="mpocp_txt" style="flex-grow:1"><a href="" class="mpocp_icon_a"><i class="fas fa-edit"></i></a> Additional order</div>
        </div>

        <div class="row mpocp">
                  <div class="mpocp_cell" style="width: 24.5%" style="width: 24.5%">
                <div class="mpocp_head">Date</div>
            </div>
            <div class="mpocp_cell" style="width: 24.5%" style="width: 24.5%">
                <div class="mpocp_head">Order ID</div>
            </div>
            <div class="mpocp_cell" style="width: 24.5%" style="width: 24.5%">
                <div class="mpocp_head">Title / topic</div>
            </div>
            <div class="mpocp_cell" style="width: 24.5%" style="width: 24.5%">
                <div class="mpocp_head">Status</div>
            </div>
        
            <div class="mpocp_cell" style="width: 24.5%">
                <div class="mpocp_txt">2017.04.27</div>
            </div>
            <div class="mpocp_cell" style="width: 24.5%">
                <div class="mpocp_txt"><a href="" class="mpocp_icon_a">1133087166</a></div>
            </div>
            <div class="mpocp_cell" style="width: 24.5%">
                <div class="mpocp_txt">test</div>
            </div>
            <div class="mpocp_cell" style="width: 24.5%">
                <div class="mpocp_txt">Payment verification</div>
            </div>
        
        </div>
        
        <div class="row d-flex" style="border-bottom: 2px solid  #1b7fd0;flex-wrap: wrap;">
            <div class="mpocp_txt" style="flex-grow:1"><a href="" class="mpocp_icon_a"><i class="fas fa-info-circle"></i></a>
                Order Details</div>
            <div class="mpocp_txt" style="flex-grow:1"><a href="" class="mpocp_icon_a"><i class="far fa-file-alt"></i></a> Files
                (0)</div>
            <div class="mpocp_txt" style="flex-grow:1"><a href="/404.html" class="mpocp_icon_a"> <i
                        class="fas fa-envelope "></i></a> Messages (0/0)</div>
            <div class="mpocp_txt" style="flex-grow:1"><a href="" class="mpocp_icon_a"><i class="fab fa-telegram-plane"></i></a>
                Contact us</div>
            
            <div class="mpocp_txt" style="flex-grow:1"><a href="" class="mpocp_icon_a"><i class="fas fa-edit"></i></a>
                Additional order</div>
        </div>



        <div class="row mpocp">
            <div class="title_order_list_table">
                <h3 style="color:white">New messages {h3}</h3>
            </div>
            <div class="mpocp_cell" style="width: 19.5%" >
                <div class="mpocp_head">Date</div>
            </div>
            <div class="mpocp_cell" style="width: 19.5%" >
                <div class="mpocp_head">Order ID</div>
            </div>
            <div class="mpocp_cell" style="width: 19.5%" >
                <div class="mpocp_head">Title / topic</div>
            </div>
            <div class="mpocp_cell" style="width: 19.5%" >
                <div class="mpocp_head">Status</div>
            </div>
            <div class="mpocp_cell" style="width: 19.5%">
                <div class="mpocp_head">Rate this order</div>
            </div>

        
            <div class="mpocp_cell" style="width: 19.5%">
                <div class="mpocp_txt">2017.04.27</div>
            </div>
            <div class="mpocp_cell" style="width: 19.5%">
                <div class="mpocp_txt"><a href="" class="mpocp_icon_a">1133087166</a></div>
            </div>
            <div class="mpocp_cell" style="width: 19.5%">
                <div class="mpocp_txt">test</div>
            </div>
            <div class="mpocp_cell" style="width: 19.5%">
                <div class="mpocp_txt">Send</div>
            </div>
            <div class="mpocp_cell" style="width: 19.5%">
                <a href="" class="mpocp_icon_a">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </a>
            </div>
        
        </div>
        
        <div class="row d-flex" style="border-bottom: 2px solid  #1b7fd0;flex-wrap: wrap;">
            <div class="mpocp_txt" style="flex-grow:1"><a href="" class="mpocp_icon_a"><i class="fas fa-info-circle"></i></a>
                Order Details</div>
            <div class="mpocp_txt" style="flex-grow:1"><a href="" class="mpocp_icon_a"><i class="far fa-file-alt"></i></a> Files
                (0)</div>
            <div class="mpocp_txt" style="flex-grow:1"><a href="/404.html" class="mpocp_icon_a"> <i
                        class="fas fa-envelope "></i></a> Messages (0/0)</div>
            <div class="mpocp_txt" style="flex-grow:1"><a href="" class="mpocp_icon_a"><i class="fab fa-telegram-plane"></i></a>
                Contact us</div>
            <div class="mpocp_txt" style="flex-grow:1"><a href="" class="mpocp_icon_a"><i class="far fa-comment"></i></a>feedback</div>
            <div class="mpocp_txt" style="flex-grow:1"><a href="" class="mpocp_icon_a"><i class="fas fa-undo-alt"></i></a> revision </div>
            <div class="mpocp_txt" style="flex-grow:1"><a href="" class="mpocp_icon_a"><i class="fas fa-edit"></i></a>
                Additional order</div>
        </div>

    </div>

</div>
