
//= get_prise_quote_row.html
<div class="container-fluid blog_post_container1">

    <div class="container">
        <div class="row" >
            <div class="ballon" style="width: 100%;"><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>         </div>
            <div class="text" style="margin:2% 0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget consectetur lectus, eu laoreet massa. Duis
            viverra porttitor mi, et ornare leo interdum vel. Vivamus libero arcu, fermentum at aliquam eu, fringilla eget lorem.
            Suspendisse non ullamcorper libero, ac aliquam nisi. Curabitur ac tristique quam. Sed ornare ante sed imperdiet aliquet.
            Suspendisse sagittis ullamcorper nunc sit amet egestas. Aliquam mollis euismod leo, at lobortis neque pellentesque ac.
            Maecenas quis dignissim erat, ut ullamcorper arcu. Suspendisse dictum id velit vel lobortis. Vivamus a tellus eu lacus
            aliquet finibus.</div>
        </div>
        <h4 class="h4_low">Nunc posuere eros quis dolor hendrerit tempus</h4>
        <h4 class="h4_low">In gravida ligula vel urna laoreet, quis convallis urna condimentum</h4 >
       
        <div class="text" style="margin:2% 0;">Nam molestie, enim eu interdum sodales, tellus purus pulvinar diam, ac feugiat justo metus et enim.</div>
        
        <h4 class="h4_low_light"> 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
        <div class="text" style="margin-bottom:2%;padding: 0;">Proin fringilla tellus ac venenatis aliquam. Integer eu rhoncus dui. Duis in ligula eu nunc finibus viverra. Quisque
        dictum semper quam, sit amet faucibus enim tincidunt nec. Maecenas dignissim fermentum tincidunt. Phasellus vitae nulla
        libero. Vestibulum a ante fermentum, tristique sapien eget, sodales sapien. Nullam felis ex, laoreet nec semper vitae,
        molestie nec tortor. Praesent rutrum, purus ac maximus euismod, nisl arcu pharetra lectus, vitae posuere est libero sed
        felis.</div>
        
        <h4 class="h4_low_light">2. Maecenas nibh lorem, ullamcorper quis lacus ac, lobortis maximus lacus</h4>
        <div class="text" style="margin-bottom:2%;padding: 0;">Morbi ullamcorper ligula libero, ut laoreet risus vulputate ac. Nulla a ultricies neque, a tempus justo. Cras efficitur
        tristique est, eget suscipit justo porta id. Sed finibus nibh eget tortor congue, quis faucibus nibh elementum. Vivamus
        pellentesque nec sem non ultrices.</div>
        
        <h4 class="h4_low_light">3. Vivamus sollicitudin eget magna et placerat</h4>
        <div class="text" style="margin-bottom:2%;padding: 0;">Nulla ultrices velit nec turpis eleifend pulvinar. Phasellus ut nunc nulla. Curabitur viverra neque vitae elit
        fringilla, sed convallis felis suscipit. Donec lobortis posuere ligula. Maecenas rhoncus tincidunt velit at ornare. Nunc
        at posuere ante.</div>

    </div>
    <div class="container-fluid bgcolorrow" >
        <div class="container ">
        
            <div class="row">
                <div class="ballon" style="width: 100%;margin-top:2%; ">
                        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                    </div>
                </div>
                <div class="text" style="color: white;margin:2% 0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget consectetur lectus, eu laoreet massa. Duis
                viverra porttitor mi, et ornare leo interdum vel. Vivamus libero arcu, fermentum at aliquam eu, fringilla eget lorem.
                Suspendisse non ullamcorper libero, ac aliquam nisi. Curabitur ac tristique quam. Sed ornare ante sed imperdiet aliquet.
                Suspendisse sagittis ullamcorper nunc sit amet egestas. Aliquam mollis euismod leo, at lobortis neque pellentesque ac.
                Maecenas quis dignissim erat, ut ullamcorper arcu. Suspendisse dictum id velit vel lobortis. Vivamus a tellus eu lacus
                aliquet finibus.
                <br><br>
                Donec ac tincidunt tellus. Aliquam porttitor, mauris a bibendum convallis, purus neque ornare risus, id consequat magna
                orci sit amet ligula. Sed sed convallis lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada
                fames ac turpis egestas. Aenean in dignissim dolor, ac dapibus odio. Nulla massa velit, accumsan a dictum nec, feugiat
                ac libero. Donec dapibus semper rhoncus. Etiam id pretium nunc. Mauris vehicula, elit in auctor aliquam, nibh mi
                faucibus ligula, in congue nisi lorem non urna. Sed ut velit in sapien scelerisque maximus eget a nibh. Sed pretium
                pharetra odio, ut placerat libero sodales sed. Curabitur faucibus lectus non lacus aliquam accumsan. Interdum et
                malesuada fames ac ante ipsum primis in faucibus. Sed vitae lorem ut ipsum consequat gravida. Praesent in aliquam nunc.</div>
            </div>
        </div>

    <div class="container-fluid" style="margin: 0;padding: 0">
        <div class="container" style="padding: 0">
            <div class="row d-flex" style="justify-content: center;flex-wrap: wrap;margin: 0">
                <div class="ballon_white  ballon_white1" style="text-align: left;padding: 2%;">
                    <h3>LOREM IPSUM {h3}</h3>
                    <ul>
                        <li class="li_text"><div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div></li>
                        
                         <li class="li_text"><div class="text">Sed sed ligula dapibus, venenatis massa non, ultrices quam.</div></li>
                         <li class="li_text"><div class="text">In porttitor risus et ante tempus aliquet.</div></li>
                         <li class="li_text"><div class="text">Donec faucibus nisi vitae enim volutpat auctor.</div></li>
                         <li class="li_text"><div class="text">Praesent ac risus sit amet odio suscipit euismod imperdiet auctor lacus</div></li>

                    </ul>

                </div>
            <div class="baner1">PLACE for BANER</div> 
            <div class="baner2">PLACE for BANER</div>


            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="ballon" style="width: 100%;margin-bottom: 2%;">
                <h2>FAQ</h2>
            </div>
        </div>
        <div class="row faq_row">
            <div class="faq_elements">
                <h3> <div class="faq_elements_arrows"></div>How confidential is your writing service? {h3}</h3>
                <div class="faq_elements_content">If you are placing a repeat order, you can ask for a writer you worked with in the past. While completing the order
                form, type your preferred writer’s ID in special gap. Take care to do this in the way we have described to be sure of
                getting the writer you want. We cannot guarantee to allocate your preferred writer if you don't request him/her on the
                order form.</div>
            </div>
            <div class="faq_elements">
                <h3>
                    <div class="faq_elements_arrows"></div>Am I free to choose the writer I want? {h3}
                </h3>
                <div class="faq_elements_content">If you are placing a repeat order, you can ask for a writer you worked with in the
                    past. While completing the order
                    form, type your preferred writer’s ID in special gap. Take care to do this in the way we have described to be
                    sure of
                    getting the writer you want. We cannot guarantee to allocate your preferred writer if you don't request him/her
                    on the
                    order form.</div>
            </div>
            <div class="faq_elements">
                <h3>
                    <div class="faq_elements_arrows"></div>How will my custom essay be formatted? {h3}
                </h3>
                <div class="faq_elements_content">If you are placing a repeat order, you can ask for a writer you worked with in the
                    past. While completing the order
                    form, type your preferred writer’s ID in special gap. Take care to do this in the way we have described to be
                    sure of
                    getting the writer you want. We cannot guarantee to allocate your preferred writer if you don't request him/her
                    on the
                    order form.</div>
            </div>
             <div class="faq_elements">
                <h3>
                    <div class="faq_elements_arrows"></div>Is it possible to have my paper at a discounted price? {h3}
                </h3>
                <div class="faq_elements_content">If you are placing a repeat order, you can ask for a writer you worked with in the
                    past. While completing the order
                    form, type your preferred writer’s ID in special gap. Take care to do this in the way we have described to be
                    sure of
                    getting the writer you want. We cannot guarantee to allocate your preferred writer if you don't request him/her
                    on the
                    order form.</div>
            </div>
            <div class="faq_elements">
                <h3>
                    <div class="faq_elements_arrows"></div>What are my options if I am displeased with my essay? {h3}
                </h3>
                <div class="faq_elements_content">If you are placing a repeat order, you can ask for a writer you worked with in the
                    past. While completing the order
                    form, type your preferred writer’s ID in special gap. Take care to do this in the way we have described to be
                    sure of
                    getting the writer you want. We cannot guarantee to allocate your preferred writer if you don't request him/her
                    on the
                    order form.</div>
            </div>
            <div class="faq_elements">
                <h3>
                    <div class="faq_elements_arrows"></div>Do you maintain a database of pre-written papers? {h3}
                </h3>
                <div class="faq_elements_content">If you are placing a repeat order, you can ask for a writer you worked with in the
                    past. While completing the order
                    form, type your preferred writer’s ID in special gap. Take care to do this in the way we have described to be
                    sure of
                    getting the writer you want. We cannot guarantee to allocate your preferred writer if you don't request him/her
                    on the
                    order form.</div>
            </div>
            <div class="faq_elements">
                <h3>
                    <div class="faq_elements_arrows"></div>Can you accommodate me if I want my paper formatted in the APA style? {h3}
                </h3>
                <div class="faq_elements_content">If you are placing a repeat order, you can ask for a writer you worked with in the
                    past. While completing the order
                    form, type your preferred writer’s ID in special gap. Take care to do this in the way we have described to be
                    sure of
                    getting the writer you want. We cannot guarantee to allocate your preferred writer if you don't request him/her
                    on the
                    order form.</div>
            </div>


        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="ballon" style="width: 100%;margin-bottom: 2%;">
                <h2>want an instant quote? you’ve got it?</h2>
            </div>
        </div>
        <div class="row want_an_instant">

            <div class="want_an_instant_txt">
                <div class="text" style="margin:2% 0;">Just use our Price Calculator to determine the cost of your future academic masterpiece.</div>
                <div class="want_an_instant_table_head">
                    <div class="want_an_instant_table_head_element1 want_an_instant_table_head_elements" >
                        <div class="txt_uper" >Type of assignment</div>
                        <select name="Essay" id="" style="width:100%;height: 1.1rem">
                            <option value="1">Essay</option>
                        </select>
                    </div>
                    <div class="want_an_instant_table_head_element2 want_an_instant_table_head_elements">
                        <div class="txt_uper">Number of pages</div>
                        <select name="1 pages / 300 words" id="" style="width:100%;height: 1.1rem">
                            <option value="1">1 pages / 300 words</option>
                        </select>
                    </div>
                    <div class="want_an_instant_table_head_element3 want_an_instant_table_head_elements">
                        <div class="txt_uper" style="color :#1b7fd0"> |</div>
                        <select name="USD" id="" style="width:100%;height: 1.1rem">
                            <option value="1">Usd</option>
                        </select>
                    </div>
                </div>
                    
                <div class="tbl">
                    <button class="change_col_display change_col_display_left " onclick="Count_minus()"> &lt; </button>
                    <button class="change_col_display change_col_display_right" onclick="Count_plus()"> &gt; </button>
                <table >
                    
                    <tr> 
                        
                        <td class="tcol1"><div class="txt_uper" style="color:black">Writer level/</div><div class="txt_uper " style="color:black">Timeframe</div> </td>
                      
                        
                        <td class="txt_uper tcol2"><div class="txt_uper" style="color:black">High</div><div class="txt_uper" style="color:black"> School</div> </td>
                        
                        <td class="txt_uper tcol3" style="color:black">College </td>
                        
                        <td  class="txt_uper tcol4" style="color:black">University </td>
                        
                        <td  class="txt_uper tcol5" style="color:black">Master's  </td>
                        
                        <td class="txt_uper tcol6" style="color:black">PHD  </td>
                    </tr>   
                    <tr>
                        <td class="txt_lover tcol1" style="color:black">3 hours</td>
                        <td class="txt_uper tcol2" style="color:#1b7fd0">48.99 USD </td>
                        <td class="txt_uper tcol3" style="color:#1b7fd0">54.99 USD</td>
                        <td class="txt_uper tcol4" style="color:#1b7fd0">61.99 USD</td>
                        <td class="txt_uper tcol5" style="color:#1b7fd0">-</td>
                        <td class="txt_uper tcol6" style="color:#1b7fd0"> - </td>

                    </tr>
                    <tr>     
                        <td class="txt_lover tcol1" style="color:black">6 hours</td>
                        <td class="txt_uper tcol2" style="color:#1b7fd0">34.99 USD</td>
                        <td class="txt_uper tcol3" style="color:#1b7fd0">38.99 USD</td>
                        <td class="txt_uper tcol4" style="color:#1b7fd0">43.99 USD</td>
                        <td class="txt_uper tcol5" style="color:#1b7fd0">-</td>
                        <td class="txt_uper tcol6" style="color:#1b7fd0">-</td>
                    </tr>
                    <tr>
                        <td class="txt_lover tcol1" style="color:black">8 hours</td>
                        <td class="txt_uper tcol2" style="color:#1b7fd0">24.99 USD</td>
                        <td class="txt_uper tcol3" style="color:#1b7fd0">30.99 USD</td>
                        <td class="txt_uper tcol4" style="color:#1b7fd0">36.99 USD</td>
                        <td class="txt_uper tcol5" style="color:#1b7fd0">44.99 USD</td>
                        <td class="txt_uper tcol6" style="color:#1b7fd0">-</td>
                    </tr>
                    <tr>
                        <td class="txt_lover tcol1"style="color:black">12 hours</td>
                        <td class="txt_uper tcol2" style="color:#1b7fd0">22.99 USD</td>
                        <td class="txt_uper tcol3" style="color:#1b7fd0">26.99 USD</td>
                        <td class="txt_uper tcol4" style="color:#1b7fd0">31.99 USD</td>
                        <td class="txt_uper tcol5" style="color:#1b7fd0">39.99 USD</td>
                        <td class="txt_uper tcol6" style="color:#1b7fd0">47.99 USD</td>
                    </tr>
                    <tr>
                        <td class="txt_lover tcol1"style="color:black">24 hours</td>
                        <td class="txt_uper tcol2" style="color:#1b7fd0">21.99 USD</td>
                        <td class="txt_uper tcol3" style="color:#1b7fd0">24.99 USD</td>
                        <td class="txt_uper tcol4" style="color:#1b7fd0">27.99 USD</td>
                        <td class="txt_uper tcol5" style="color:#1b7fd0">36.99 USD</td>
                        <td class="txt_uper tcol6" style="color:#1b7fd0">45.99 USD</td>
                    </tr>
                    <tr>
                        <td class="txt_lover tcol1"style="color:black">48 hours</td>
                        <td class="txt_uper tcol2" style="color:#1b7fd0">19.99 USD</td>
                        <td class="txt_uper tcol3" style="color:#1b7fd0">22.99 USD</td>
                        <td class="txt_uper tcol4" style="color:#1b7fd0">25.99 USD</td>
                        <td class="txt_uper tcol5" style="color:#1b7fd0">31.99 USD</td>
                        <td class="txt_uper tcol6" style="color:#1b7fd0">41.99 USD</td>
                    </tr>
                    <tr>
                        <td class="txt_lover tcol1"style="color:black">3 days</td>
                        <td class="txt_uper tcol2" style="color:#1b7fd0">17.99 USD</td>
                        <td class="txt_uper tcol3" style="color:#1b7fd0">19.99 USD</td>
                        <td class="txt_uper tcol4" style="color:#1b7fd0">21.99 USD</td>
                        <td class="txt_uper tcol5" style="color:#1b7fd0">29.99 USD</td>
                        <td class="txt_uper tcol6" style="color:#1b7fd0">34.99 USD</td>
                    </tr>
                    <tr>
                        <td class="txt_lover tcol1"style="color:black">4 days</td>
                        <td class="txt_uper tcol2" style="color:#1b7fd0">16.99 USD</td>
                        <td class="txt_uper tcol3" style="color:#1b7fd0">18.99 USD</td>
                        <td class="txt_uper tcol4" style="color:#1b7fd0">19.99 USD</td>
                        <td class="txt_uper tcol5" style="color:#1b7fd0">25.99 USD</td>
                        <td class="txt_uper tcol6" style="color:#1b7fd0">32.99 USD</td>
                    </tr>
                    <tr>
                        <td class="txt_lover tcol1"style="color:black">7 days</td>
                        <td class="txt_uper tcol2" style="color:#1b7fd0">13.99 USD</td>
                        <td class="txt_uper tcol3" style="color:#1b7fd0">15.99 USD</td>
                        <td class="txt_uper tcol4" style="color:#1b7fd0">17.99 USD</td>
                        <td class="txt_uper tcol5" style="color:#1b7fd0">23.99 USD</td>
                        <td class="txt_uper tcol6" style="color:#1b7fd0">28.99 USD</td>
                    </tr>
                    <tr>
                        <td class="txt_lover tcol1"style="color:black">11 days</td>
                        <td class="txt_uper tcol2" style="color:#1b7fd0">11.99 USD</td>
                        <td class="txt_uper tcol3" style="color:#1b7fd0">14.99 USD</td>
                        <td class="txt_uper tcol4" style="color:#1b7fd0">16.99 USD</td>
                        <td class="txt_uper tcol5" style="color:#1b7fd0">21.99 USD</td>
                        <td class="txt_uper tcol6" style="color:#1b7fd0">26.99 USD</td>
                    </tr>
                </table>
                </div>
        
            </div>

        </div>
    </div>
    

    <div class="container">
            <div class="row">
                <div class="ballon" style="width: 100%;margin: 2% 0">
                    <h2>How to contact us</h2>
                </div>
                <div class="text">
                    Our company employs writing experts from every part of the world and they have unrivalled knowledge in their chosen
                    disciplines. Hence, we can confidently claim to provide you with the highest quality papers you will get anywhere.
                    Quality is never compromised with us and every deadline is met. Don't hesitate to get in touch with our 24x7 customer
                    services team if you need help with the ordering or payment system or you need any type of technical assistance.
                </div>
            </div>   
            <div class="row baner_contact_Row">
                <div>
                    <div class="baner3">
                                    <div class="adres_s">
                                        <div class=" adres_s_elements"> Sales toll free: 1 (877) 894-0925</div>
                                        <div  class=" adres_s_elements">Our address: 581 Boylston Street, Boston, MA 02116 </div>
                                        <div class=" adres_s_elements">Our E-mail: support@bestwritinghelp.org </div>
                                    </div>
                                    <div class="live_chat_btn_text_container">
                                        <div class="live_chat_btn_text">
                                            <div class="live_chat_txt">live chat</div>
                                        </div>
                                    </div>
                    </div>

                    <form action="" class="contact_form">
                            <div class="title_form">
                                        <h3 style="color:white">Contact FORM {h3}</h3>
                            </div>
                            <div class="input_form_contact">
                                        <div class="contact_form_elements contact_form_element1">
                                            <label class="label_content">Subject</label>
                                            <input class="input_cell_content">

                                        </div>
                                        <div class="contact_form_elements contact_form_element2">
                                            <label class="label_content">First name</label>
                                            <input class="input_cell_content">
                                            <label  class="label_content">Order ID (if known):</label>
                                            <input class="input_cell_content">
                                            <label  class="label_content">E-mail</label>
                                            <input class="input_cell_content">
                                        </div>
                                        <div class="contact_form_elements contact_form_element3">
                                            <label class="label_content">Message</label>
                                            <input class="input_cell_content" >
                                        </div>
                                        <a href="" class="btn_send_msg">Send message</a>

                            </div>
                            
                    </form>

                    <table class="tab_2">

                    
                        <tr class="tr_lorem_title">
                    
                            <td class="tcol_lorem1 txt_lover" style="color:white;">
                            Lorem ipsum dolor
                            </td>
                            <td class="tcol_lorem2 txt_lover" style="color:white;">
                                Lorem ipsum dolor
                            </td>
                            <td class="tcol_lorem3 txt_lover" style="color:white;">
                                Lorem ipsum dolor
                            </td>
                    

                        </tr>
                        <tr class="tr_lorem1">
                            <td class="txt_lover tcol_lorem1" style="color:black">Lorem ipsum dolor sit.</td>
                            <td class="txt_lover tcol_lorem2" style="color:black">Lorem ipsum dolor sit.</td>
                            <td class="txt_lover tcol_lorem3" style="color:black">Fusce quis ipsum ut dui facilisis sodales.</td>
                            
                        </tr>
                        <tr class="tr_lorem2">
                            <td class="txt_lover tcol_lorem1" style="color:black">Lorem ipsum dolor sit.</td>
                            <td class="txt_lover tcol_lorem2" style="color:black">Lorem ipsum dolor sit.</td>
                            <td class="txt_lover tcol_lorem3" style="color:black">Phasellus facilisis eros eu justo varius tincidunt.</td>
                            
                        </tr>
                        <tr class="tr_lorem1">
                            <td class="txt_lover tcol_lorem1" style="color:black">Nullam ac sapien eget.</td>
                            <td class="txt_lover tcol_lorem2" style="color:black">Nullam ac sapien eget.</td>
                            <td class="txt_lover tcol_lorem3" style="color:black">Vestibulum sodales ipsum id tincidunt gravida.</td>
                            
                        </tr>
                        <tr class="tr_lorem2">
                            <td class="txt_lover tcol_lorem1" style="color:black">Nunc viverra tortor.</td>
                            <td class="txt_lover tcol_lorem2" style="color:black">Nunc viverra tortor.</td>
                            <td class="txt_lover tcol_lorem3" style="color:black">Aenean consectetur lacus a orci dictum,</td>
                            
                        </tr>
                        <tr class="tr_lorem1">
                            <td class="txt_lover tcol_lorem1" style="color:black">Sed elementum.</td>
                            <td class="txt_lover tcol_lorem2" style="color:black">Sed elementum.</td>
                            <td class="txt_lover tcol_lorem3" style="color:black">sit amet ornare ante tristique.</td>
                        </tr>
                        <tr class="tr_lorem2">
                            <td class="txt_lover tcol_lorem1" style="color:black">Amet, consectetur.</td>
                            <td class="txt_lover tcol_lorem2" style="color:black">Amet, consectetur.</td>
                            <td class="txt_lover tcol_lorem3" style="color:black">sit amet ornare ante tristique.</td>
                            
                        </tr>
                        <tr class="tr_lorem1">
                            <td class="txt_lover tcol_lorem1" style="color:black">Odio sed finibus.</td>
                            <td class="txt_lover tcol_lorem1" style="color:black">Odio sed finibus.</td>
                            <td class="txt_lover tcol_lorem3" style="color:black">sit amet ornare ante tristique.</td>
                        </tr>
                        
                    </table>
                </div>
            </div>
            <div class="row d-flex" style="justify-content: center; text-align: center; margin-top:2%;">
                <h3>What our customers say {h3}</h3>
            </div>
            <div class="row d-flex" style="justify-content: center; text-align: center; margin-top:2%;padding: 3%">
                <div class="ballon_white"  style="width: 40%; margin:3%">
                    <div style="text-align: center;color: black" class="txt_lover">
                        I was at a loss because my professor gave me a very complicated assignment. I once visited your website and decided to
                        try using your services. I was very impressed with the paper you sent me only in 6 hours! You saved my grade! Thank you!
                    </div>
                </div>
                
                <div class="ballon_white" style="width: 40%; margin:3%;padding: 3%">
                    <div style="text-align: center;color: black" class="txt_lover">
                        I was at a loss because my professor gave me a very complicated assignment. I once visited your website and
                        decided to
                        try using your services. I was very impressed with the paper you sent me only in 6 hours! You saved my grade!
                        Thank you!
                    </div>
                </div>
            </div>
            <div class="row d-flex" style="justify-content: center; text-align: center; margin-top:2%;padding: 3%">
                            <div class="point_ter"></div>
            </div>
      </div>





</div>