<div class="container-fluid why_order_paper">
    <div class="container ">
        <div class="row ballon"> <h2>Why order paper assignments from BestWritingHelp.org?</h2></div>
        <div class="row title_text">
            <div> The features that define our uniqueness when you order paper assignments:</div>
        </div>
        <div class="row why_order_paper_main">
            <div class="why_order_elements why_order_element1">
                <div class="number_in_circle">1</div>
                <div class="why_order_asigments">A team of writing experts that is larger than you will find elsewhere.</div>
                <div class="why_order_asigments_row"></div>


            </div>
        
            <div class="why_order_elements why_order_element2">
                <div class="number_in_circle">2</div>
                <div class="why_order_asigments">Flexible pricing structure based on your academic level, the length of your assignment and the time frame you need it
                in.</div>
                <div class="why_order_asigments_row"></div>
        
        
            </div>
            <div class="why_order_elements why_order_element3">
                <div class="number_in_circle">3</div>
                <div class="why_order_asigments">The highest number of clients.</div>
                <div class="why_order_asigments_row"></div>
            
            
            </div>
            <div class="why_order_elements why_order_element4">
                <div class="number_in_circle">4</div>
                <div class="why_order_asigments">Attractive discounts for repeat customers.</div>
                <div class="why_order_asigments_row"></div>
            
            
            </div>
            <div class="why_order_elements why_order_element5">
                <div class="number_in_circle">5</div>
                <div class="why_order_asigments">Close collaboration between customer and writer</div>
                <div class="why_order_asigments_row"></div>
            
            
            </div>
            <div class="why_order_elements why_order_element6">
                <div class="number_in_circle">6</div>
                <div class="why_order_asigments">Revisions accommodated where customer is not satisfied with our first effort.</div>
                <div class="why_order_asigments_row"></div>
            
            
            </div>
            <div class="why_order_elements why_order_element7">
                <div class="number_in_circle">7</div>
                <div class="why_order_asigments">High levels of security for all customers.</div>
                <div class="why_order_asigments_row"></div>
            
            
            </div>
            <div class="why_order_elements why_order_element7">
                <div class="number_in_circle">8</div>
                <div class="why_order_asigments">Convenient contact methods with our headquarters if you have any queries on your order.</div>
                <div class="why_order_asigments_row"></div>
            
            
            </div>
        </div>
    </div>
    
</div>